body{
    display: flex;
align-items: center;
justify-content: center;
background-color: aquamarine;
}

#card1{
    width: 30vw;
    align-items: center;
    display: flex !important;
    flex-direction: none !important;
   
    justify-content: center;
}
.parent{
   flex-direction: column;
   border: solid black 0.5px;
   background-color: white;
   padding: 10px;
   border-radius: 5px;
   height: 35vh;
   overflow-y: auto;
}

.card2{
    align-items: center;
    justify-content: center;
    display: flex;
}
#userIp{
    width: 20vw;
}
.color{color: cadetblue;}
.bi-journal-bookmark-fill{font-size: x-large;}